### ------------------------------------------------------------------------------------------------
##  @filename  .npmignore
##  @author  brikcss  <https://github.com/brikcss>
##  @description  https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package
### ------------------------------------------------------------------------------------------------

